.chat-screen {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.chat-screen form {
    margin-top: auto;
    margin-bottom: 1dvh;
}

li {
    text-decoration: none;
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}